*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --cell-border: 1px solid black;
    --cell-size: 6.25%;
  }


.grid-container{
    display: flex;
    width: 70vh;
    height: 70vh;
    flex-wrap: wrap;
}
.cell{
    border: var(--cell-border);
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
}

.slide-container{
    display: flex;
    flex-direction: column;
}

.main-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: black;
    gap: 40px;
    padding: 20px;
    align-items: center;
}

.side-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60vh;
    padding: 10px;
}

.title-text{
    text-align: center;
    font-size: 40px;
    font-style: bold;
}

label{
    color: white;
}

.button{
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: black;
    border: white 1px solid;
    width: 170px;
    white-space: nowrap;
    border-radius: 10px;
    text-decoration: none;
}

.button:hover{
    background-color: dimgray;
}
.active-button{
    background-color: dimgray;
}
.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.button-container{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.right-container{
    display: flex;
    gap: 4px;
    flex-direction: column;
}
