*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --cell-color: black;
    --cell-border: 1px solid black;
    --cell-size: 6.25%;
  }


.grid-container{
    display: flex;
    width: 70vh;
    height: 70vh;
    flex-wrap: wrap;
}
.cell{
    border: var(--cell-border);
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
}

.colored-cell{
    background-color: var(--cell-color);
}
.slide-container{
    display: flex;
    flex-direction: column;
}

.main-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: black;
    gap: 40px;
    padding: 20px;
    align-items: center;
}

.side-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 60vh;
    padding: 10px;
}

.title-text{
    text-align: center;
    font-size: 40px;
    font-style: bold;
}

label{
    color: white;
}
.button{
    width: 200px;
    height: 29px;
}

.button-container{
    display: flex;
    width: 100px;
    gap: 4px;
    flex-direction: column;
}
.right-container{
    display: flex;
    gap: 4px;
    flex-direction: column;
}
