*{
    box-sizing: border-box;
}

:root {
    --cell-color: black;
  }


.grid-container{
    display: flex;
    border: 1px solid red;
    width: 325px;
    flex-wrap: wrap;
}
.cell{
    border: 1px solid black;
    width: 6.25%;
}

.colored-cell{
    background-color: var(--cell-color);
}
